<div class="row">
  <div class="col-sm-12">
    <img [src]="recipe.imgpath" alt="">
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h1>Name:{{recipe?.name}}
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
      <div class="dropdown btn-group" appDirective>
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Racipe Manage
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a style="cursor:pointer;" (click)="goToShop()">Go to shop</a></li>
            <li><a style="cursor:pointer;"  (click)="goToEdit()" >Edit Recipe</a></li>
            
          </ul>
        </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Description {{ recipe?.description }}</p>
  </div>
</div>
<div class="row">
    <div class="col-sm-12">
      <ul class="list-group">
        <li class="list-group-item"
          *ngFor = "let ingredient of recipe.ingredients" >
          {{ingredient.name}} :- {{ingredient.amount}}
        </li>
      </ul>
    </div>
  </div>
